@tailwind base;
@tailwind components;
@tailwind utilities;

@import url("https://fonts.googleapis.com/css2?family=Lato:ital,wght@0,100;0,300;0,400;0,700;0,900;1,100;1,300;1,400;1,700;1,900&display=swap");

:root {
  --foreground-rgb: 0, 0, 0;
  --background-start-rgb: 214, 219, 220;
  --background-end-rgb: 255, 255, 255;
}

@media (prefers-color-scheme: dark) {
  :root {
    --foreground-rgb: 255, 255, 255;
    --background-start-rgb: 0, 0, 0;
    --background-end-rgb: 0, 0, 0;
  }
}

body {
  color: rgb(var(--foreground-rgb));
  font-family: "Lato", sans-serif;
  background: radial-gradient(
    ellipse farthest-corner at 10% 50%,
    rgba(255, 229, 92, 0.15) 0%,
    rgba(255, 255, 255, 0.2) 100%
  );
}

*::-webkit-scrollbar {
  display: none;
}
.gradient-background {
  background-color: white;
  background: linear-gradient(
    to left,
    rgb(243 115 53) 0%,
    rgba(253, 200, 48, 1) 100%
  );
  background-size: cover;
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
}
.container {
  background: rgba(255, 255, 255, 0.27);
  backdrop-filter: blur(4.3px);
  box-shadow: 0 4px 30px rgba(0, 0, 0, 0.1);
  border: 1px solid rgba(255, 255, 255, 0.15);
}
.center {
  display: flex;
  justify-content: center;
}
